@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #44403c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0e7a0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #263a0c #1f1f1f;
}

/* Hide scrollbar for Webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}
